<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <section>
         <div class="container-fluid mt-5 p-5">
             <div class="row">
                 <p class="text-center fs-2">All Product</p>
                 <hr>
                 <!-- Hien thi thong bao -->
                 <th:block th:if="${session.sucMsg}">
                     <p class="text-success fw-bold text-center">[[${session.sucMsg}]]</p>
                     <!-- thuc hien de xoa thong bao -->
                     <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"> </th:block>
                 </th:block>

                 <th:block th:if="${session.errorMsg}">
                     <p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
                     <!-- thuc hien de xoa thong bao -->
                     <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"> </th:block>
                 </th:block>

                 <a href="/admin/" class="fs-5"><i class="fa-solid fa-arrow-left"></i> Back</a>
                 <div class="row p-3 d-flex justify-content-between align-items-center">
                     <div class="col-md-5 p-3 ">

                     <form action="/admin/loadProduct" method="get">
                         <div class="row ">
                             <div class="col">
                                 <input type="text" class="form-control " name="ch"
                                        placeholder="Enter order id">
                             </div>
                             <div class="col">
                                 <button class="btn btn-primary col ">Search</button>
                             </div>


                         </div>

                     </form>

                 </div>

                     <div class="col-md-5 p-3 text-center">

                         <a  href="/admin/loadAddProduct" class="btn btn-success col-md-3 offset-md-9 ">Add Room</a>

                     </div>
                 </div>
             <div class="card card-sh">
                 <div class="card-body ">
                     <table class="table">
                         <thead>
                         <tr>
                             <th scope="col">Sl No</th>
                             <th scope="col">Image</th>
                             <th scope="col">Title</th>
                             <th scope="col">Category</th>
                             <th scope="col">Price</th>
                             <th scope="col">Discount</th>
                             <th scope="col">Discount Price</th>
                             <th scope="col">Stock</th>
                             <th scope="col">Status</th>
                             <th scope="col">Action</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr th:each="p,c:${products}">
                             <th scope="row">[[${c.count}]]</th>
                             <td> <img th:src="@{'/img/product_img/'+${p.image}}" width="70px" height="70px">
                             </td>
                             <td>[[${p.title}]]</td>
                             <td>[[${p.category}]]</td>
                             <td>[[${p.price}]]</td>
                             <td>[[${p.discount}]]</td>
                             <td>[[${p.discountPrice}]]</td>
                             <td>[[${p.stock}]]</td>
                             <td>[[${p.isActive}]]</td>
                             <td>
                                 <a th:href="@{'/admin/loadEditProduct/'+${p.id}}" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit </a>
                                 <a th:href="@{'/admin/deleteProduct/'+${p.id}}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></i> Delete </a>
                             </td>

                         </tr>

                         </tbody>
                     </table>

                     <div class="row">
                         <div class="col-md-4">Total Product  : [[${totalElements}]]</div>
                         <div class="col-md-6">

                                 <nav aria-label="Page navigation example">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <a class="page-link" href="#" aria-label="Previous"

                                                th:classappend="${isFirst}?'disabled':''"
                                                th:href="@{'/admin/loadProduct?pageNo='+${pageNo - 1}}" >
                                                 <span aria-hidden="true">&laquo;</span>
                                             </a>
                                         </li>
                                         <li th:each="i:${#numbers.sequence(1,totalPages)}"

                                             class="page-item" th:classappend="${pageNo+1==i}?'active':''" >

                                             <a class="page-link" th:href="@{'/admin/loadProduct?pageNo='+${i - 1}}">[[${i}]]</a></li>

                                         <li class="page-item">
                                             <a class="page-link"  aria-label="Next" th:href="@{'/admin/loadProduct?pageNo='+${pageNo + 1}}"
                                                th:classappend="${isLast}?'disabled':''">
                                                 <span aria-hidden="true">&raquo;</span>
                                             </a>
                                         </li>
                                     </ul>
                                 </nav>


                         </div>

                 </div>
             </div>



         </div>
         </div>
     </section>

</body>
</html>