<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container mt-5 p-3">
        <h2 class="text-center mb-5">Statistical</h2>
        <div class="row g-4">
            <!-- Total Category -->
            <div class="col-md-4 col-lg-3">
                <div class="bg-warning text-white p-4 rounded shadow text-center h-100 d-flex flex-column justify-content-center">
                    <h5>Total Category</h5>
                    <h4><span th:text="${totalCategory}">0</span></h4>
                </div>
            </div>

            <!-- Total Product -->
            <div class="col-md-4 col-lg-3">
                <div class="bg-danger text-white p-4 rounded shadow text-center h-100 d-flex flex-column justify-content-center">
                    <h5>Total Product</h5>
                    <h4><span th:text="${totalProduct}">0</span></h4>
                </div>
            </div>

            <!-- Total Product In Stock -->
            <div class="col-md-4 col-lg-3">
                <div class="bg-success text-white p-4 rounded shadow text-center h-100 d-flex flex-column justify-content-center">
                    <h5>Product In Stock</h5>
                    <h4><span th:text="${totalProductStock}">0</span></h4>
                </div>
            </div>

            <!-- Customer -->
            <div class="col-md-4 col-lg-3">
                <div class="bg-primary text-white p-4 rounded shadow text-center h-100 d-flex flex-column justify-content-center">
                    <h5>Customer</h5>
                    <h4><span th:text="${totalUser}">0</span></h4>
                </div>
            </div>

            <!-- Total Order -->
            <div class="col-md-4 col-lg-3">
                <div class="bg-info text-white p-4 rounded shadow text-center h-100 d-flex flex-column justify-content-center">
                    <h5>Total Order</h5>
                    <h4><span th:text="${totalOrder}">0</span></h4>
                </div>
            </div>

            <!-- Total Revenue -->
            <div class="col-md-4 col-lg-3">
                <div class="bg-dark text-white p-4 rounded shadow text-center h-100 d-flex flex-column justify-content-center">
                    <h5>Total Revenue</h5>
                    <h4><span th:text="${totalRevenue}"></span> VND</h4>
                </div>
            </div>
        </div>
    </div>



</section>

</body>
</html>